# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/bower_components/
/HW_preview.jpeg
/preview_preview.png
/node_modules
package-lock.json
